*.pyc
.vscode/launch.json

kiliautoml/utils/ultralytics/yolov5/data/kili.yaml
kiliautoml/utils/ultralytics/yolov5/data/kili_wandb.yaml
kiliautoml/utils/ultralytics/yolov5/artifacts
.envs
wandb/**
.mypy_cache/**
kiliautoml.egg-info/**
kiliautoml/models/_detectron2_semantic_segmentation.py
coco_dataset/**
kiliautoml/models/_detectron2_semantic_segmentation.py
coco_dataset_2017_val.zip
