[tool.black]
line-length = 100
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
)/
'''

[tool.pylint.master]
suggestion-mode = true
ignore-paths = [ "^kiliautoml/utils/ultralytics/yolov5/.*$"]

[tool.pyright]
exclude = [
    "**/utils/ultralytics/yolov5/**",
    "**/__pycache__",
]

reportMissingImports = true
reportMissingTypeStubs = false

pythonVersion = "3.7"
typeCheckingMode = "basic"



[tool.isort]
profile = "black"
py_version=37
skip_glob = ["**/utils/ultralytics/yolov5/**"]
